.container {
    margin-top: 30px;
}
.rounded-circle {
    height: 45px;
    margin-right: 10px;
}
.btn {
    width: 75px;
}
.lgbutton {
    width: 125px;
    margin-bottom: 20px;
}
.descriptbox {
    width: 75%;
    padding: 15px;
    margin-bottom: 10px;
}
.row {
    margin-right:auto;
    margin-left: auto;
}
.flash {
    background-color: #fff484;
    width: 100%;
    text-decoration: none;
    text-align: center;
}
.flash li {
    list-style-type: none;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
#signinButton {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;    
    background-position: 0px 0px;
    height: 46px;
    width: 191px;
}
#facebook {
    margin-bottom: 20px
}
#latestbox {
    background-image: url("https://svgsilh.com/png-512/2026279.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 325px 334px;
}
