{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container">
    <div class="row">
    <form class="" action="" method="post">
        <h3>Edit Recipe</h3>

            <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" type="text" name="name" value="{{recipe.name}}">
            </div>

            <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control text-capitalize" class="" name="category">
                {% for category in categories %}
                <option value="{{category.name}}" {% if category.name==category_name %}SELECTED{% endif %}>{{category.name}}</option>
                {% endfor %}
            </select>
            </div>

            <div class="form-group">
            <label for="instructions">Instructions:</label>
            <textarea class="form-control" maxlength="450" rows="4" cols="50" name="instructions" >{{recipe.instructions}}</textarea>
            </div>

            <div class="form-group">
            <label for="ingredients">Ingredients:</label>
            <textarea class="form-control" name="ingredients" rows="4" cols="50">{{recipe.ingredients}}</textarea>
            </div>

            <button class="btn btn-primary" type="submit" name="submit">Submit</button>

    </form>
    </div>
</div>


{% endblock %}
