<nav class="navbar navbar-expand bg-dark navbar-dark clearfix">
<div class="mr-auto">
    <ul class="navbar-nav">
        <li><a href="{{url_for('showCatalog')}}" class="navbar-brand">Recipe Barn</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('showCatalog')}}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Recipes</a></li>
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
    </ul>
</div>


<div class="navbar-nav ml-auto">

        {% if 'username' not in session %}
        <a class="btn btn-outline-primary" href="{{url_for('showLogin')}}">Login</a>
        {% else %}
        <span>
            <img src="{{session['picture']}}" class="rounded-circle" alt="">
            <a class="btn btn-outline-warning" href="{{url_for('disconnect')}}">Logout</a>
        </span>

        {% endif %}

</div>

</nav>
