<nav>
    <div class="">
        <div class="">
            <h1>Recipe Barn</h1>
        </div>
        <div class="">
            <ul>
                <li class=""><a href="{{url_for('showCatalog')}}">Home</a></li>
                <li class=""><a href="#">Recipes</a></li>
                <li class=""><a href="#">About</a></li>
            </ul>
        </div>

        <div class="">
            {% if 'username' not in session %}
            <a href="{{url_for('showLogin')}}">Login</a>
            {% else %}
            <a href="{{url_for('disconnect')}}">Logout</a>
            {% endif %}
        </div>

    </div>
</nav>
