{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="flash">
    {% with messages = get_flashed_messages() %}
        {% if messages %}

            <ul>
            {% for message in messages %}
              <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            {% include "category-sidebar.html" %}
        </div>
        <div class="col-sm-8">
            <a class="btn btn-success lgbutton" href="{{url_for('newRecipe', category_name="appetizers")}}">
                New Recipe
            </a>
            <h3>Latest Items:</h3>
            <ul>
                {% for recipe in latest_recipes %}
                {% for category in categories %}
                {% if category.id == recipe.category_id %}
                <li>
                    <div class="">
                        <a href="{{url_for('showRecipe', category_name=category.name, recipe_id=recipe.id)}}">{{recipe.name}}</a>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}
