{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="">
    <div class="">
        <h3>{{recipe.name}}</h3>
    </div>
    <div class="">
        <h4>Instructions</h4>
        <p>{{recipe.instructions}}</p>
    </div>
    <div class="">
        <h4>Ingredients:</h4>
        <pre>{{recipe.ingredients}}</pre>
    </div>
    <div class="">
        <a href="{{url_for('editRecipe', category_name=category_name, recipe_id=recipe.id)}}">
            <button type="button" name="button">
                Edit
            </button>
        </a>
        <a href="#">
            <button type="button" name="button">
                Delete
            </button>
        </a>
    </div>
</div>


{% endblock %}
