{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="">
    <div class="">

        <div class="">
            {% include "category-sidebar.html" %}
        </div>
        <div class="">
            <a href="{{url_for('newRecipe', category_name=category.name)}}">
                <button type="button" name="New Recipe">New Recipe</button>
            </a>

            <h3>{{category.name}}</h3>
            <ul>
                {% for recipe in recipes %}
                <li>
                    <div class="">
                        <a href="{{url_for('showRecipe', category_name=category.name, recipe_id=recipe.id)}}">{{recipe.name}}</a>
                    </div>
                    <div class="">
                        {{recipe.instructions}}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>


{% endblock %}
